<table id="book_comment_<%= book.id ">
  <%= render "books/comment-remote", book: book, book_comment: book_comment %>
</table>
<%= form_with model:[@book,@book_comment], remote: true do |f| %>
  <%= f.text_area :comment, size:"90x5" %><br>
  <%= f.submit '送信' %>
<% end %>